.App {
  /* Add backroung gradient color */
  /* background: linear-gradient(45deg, #282c34 30%, #a1aabd 90%); */
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  height: max-content;
}

.App-header {
  padding: 1.4rem;
  text-align: center;
  color: #61dafb;
  margin-bottom: 0.5rem;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .score {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: bold;
}

.score .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
}

.player .specific_player{
  color: white;
  font-weight: bold;
}
.player .puntaje{
  font-size: 2rem;
  color: #61dafb;
}

.turns_container{
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.turns_container .turn{
  padding: 0.1rem 0.8rem;
  border-radius: 0.5rem;
}

.turns_container .current_turn{
  background-color: #697489;
}

.buttons_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset_game{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: #61dafb;
  /* color: white; */
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem
}

.winner_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2rem;
  visibility: hidden;
}
.winner_container .winner{
  color: #61dafb;
}
.winner_container .message{
  font-size: 2rem;
  font-weight: bold;
  color: #fbfdfe;
}

.winner_container .next_round_button{
  background-color: #ff0080;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.winner_container .next_round_button:hover{
  background-color: #ff00a0;
}

.footer{
  /* SEt to the end of the page */
  color: white;
  /* position: absolute;
  bottom: 0;
  right: 0; */
  /* margin-right: 0.5rem; */
  display: flex;
  justify-content: center;
  font-size: small;
  margin-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.footer a{
  /* Coloca el footer al extremo inferior */
  color: #61dafb;
  /* Quita el subrayado del link */
  text-decoration: none;
}

/* Se dividen las partes a partir del tamaño de una tablet */
@media (min-width: 768px) {
  .main{
    width: 100%;
    display: grid;
    grid-template-areas:
      "a_score a_board a_board a_board"
      "a_button_game a_turns a_turns a_turns";
    
    column-gap: 3rem;
  }

  .score{
    grid-area: a_score;
    font-size: xx-large;
  }

  .board_container{
    grid-area: a_board;
  }

  .board_container .board{
    max-width: fit-content;
    min-width: 400px;
  }

  .buttons_container{
    grid-area: a_button_game;
    
  }

  .turns_container{
    grid-area: a_turns;
    margin-bottom: 0;
  }
}